.background-options-container {
  // border: 1px solid black;
  width: 100%;
  height: 100%;
  overflow-y: scroll;

  .background-options-buffer {
    .container-fluid {
      .row {
        .col-4 {
          padding: 0;
          // border: 1px solid brown;
          height: 220px;
        }
      }
    }
  }
}
