.option-content-item-container {
  width: 100%;
  height: 100%;
  .option-content-item-buffer {
    color: white;
    // border: 1px solid white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .image-container {
      border: 1px solid rgb(114, 107, 107);
      width: 176px;
      height: 176px;
      border-radius: 4px;
      overflow: hidden;
      cursor: pointer;
      transition: 0.2s all linear;
      &:hover img {
        filter: brightness(1.1);
      }
    }

    .title-container {
      //   border: 1px solid green;
      width: 176px;
      height: 28px;
      font-family: "Segoe UI", "Roboto", sans-serif, Arial, Helvetica,
        sans-serif;
      font-size: 13px;
      font-weight: 600;
      display: flex;
      align-items: center;
    }
  }
}
