.most-visited-page-item {
  // border: 1px solid rgb(184, 123, 53);
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 125px;

  .most-visited-page-item-buffer {
    // border: 1px solid black;
    border-radius: 4px;
    width: 85%;
    height: 92%;
    cursor: pointer;
    transition: 0.1s linear background-color;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &:hover {
      background-color: #ffffff31;

      .edit-shortcut-icon-button {
        color: white;
      }
    }

    .edit-shortcut-icon-button {
      position: absolute;
      top: 0;
      right: 0;
      width: 25px;
      height: 25px;
      padding: 4px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 20px;
      color: rgba(255, 255, 255, 0);

      &:hover {
        color: rgb(187, 187, 187);
      }
    }

    .most-visited-page-item-link {
      //   border: 1px solid brown;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      text-decoration: none;

      .background-container-icon {
        // border: 1px solid green;
        height: 80px;
        display: flex;
        justify-content: center;
        align-items: center;

        .circle-background {
          //   border: 1px solid blue;
          width: 45px;
          height: 45px;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: white;
          color: black;
        }
      }

      &:hover .most-visited-page-item-name {
        color: white;
      }

      .most-visited-page-item-name {
        // border: 1px solid blue;
        flex-grow: 1;
        color: rgb(226, 226, 226);
        font-size: 12px;
        font-family: "Roboto", arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: 500;
      }
    }
  }
}
