@import "./constants/constants.scss";
@import "./mixin/mixin.scss";

.container-google-account-container {
  border: 0.3px solid rgba(0, 0, 0, 0.3);
  position: fixed;
  top: $height-header;
  right: 14px;
  max-height: 500px;
  width: 350px;
  background-color: #ffffff;
  border-radius: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: context-menu;

  &::-webkit-scrollbar {
    width: 8px;
    background-color: white;
    border-radius: 8px;
  }

  &::-webkit-scrollbar-track {
    border-radius: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8b8b8ba1;
    border-radius: 8px;
    height: 20px;
  }

  .avatar {
    width: 100%;

    .avatar-container {
      @include flex-center();
      cursor: pointer;
      position: relative;

      &:hover img {
        filter: brightness(1.1);
        transform: scale(1.05);
      }

      img {
        width: 100px;
        transition: all 0.2s linear;
      }

      .camera-container {
        position: absolute;
        width: 35px;
        height: 35px;
        bottom: 5px;
        left: 55%;
        @include flex-center();
        background-color: white;
        border-radius: 50%;

        .camera-setting-avatar {
          font-size: 20px;
          transition: 0.2s all linear;

          &:hover {
            color: rgb(43, 170, 255);
          }
        }
      }
    }

    .infor-account {
      .name-account {
        @include flex-center();
        color: #202124;
        font: 500 16px/22px Google Sans, Roboto, RobotoDraft, Helvetica, Arial,
          sans-serif;
        font-style: normal;
        font-variant-ligatures: normal;
        font-variant-caps: normal;
        font-variant-numeric: normal;
        font-variant-east-asian: normal;
        font-weight: 400;
        font-stretch: normal;
        font-size: 16px;
        line-height: 22px;
        font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial,
          sans-serif;
        letter-spacing: 0.29px;
        margin: 0;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      .email-account {
        @include flex-center();
        font-family: $font-family;
        color: #5f6368;
        letter-spacing: normal;
        font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
        @include font-text-style();
      }
    }

    .manage-account {
      height: 60px;
      @include flex-center();

      .buffer-manage-account {
        border: 0.3px solid #a5a5a58e;
        padding: 5px 20px 7px 20px;
        border-radius: 20px;
        @include flex-center();
        cursor: pointer;

        a {
          font-size: 15px;
          color: rgb(70, 70, 70);
          text-decoration: none;

          &:hover {
            color: rgb(51, 51, 51);
          }
        }
      }
    }
  }
  .accounts-container {
    margin-top: 15px;
    border-top: 1px solid #ccc;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-container {
    margin-top: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
