.edit-container-content {
  //   border: 1px solid brown;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  height: 100px;

  .footer-round-buffer {
    color: white;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 13px;
    cursor: pointer;
    transition: 0.2s all linear;
    margin-right: 10px;
    &:hover {
      background-color: #ffffff3a;
    }
  }
}
