.edit-shortcut-container {
  // border: 1px solid rgb(255, 0, 0);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.205);
  display: flex;
  justify-content: center;
  align-items: center;

  .edit-shortcut-form-container {
    width: 380px;
    height: 250px;
    opacity: 10 !important;
    background-color: #292a2d;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .text-title-edit-shortcut {
      // border: 1px solid black;
      width: 100%;
      height: 40px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-end;
      padding-left: 21px;
      font-family: "Segoe UI", "Roboto", arial, sans-serif;
      font-size: 15px;
    }

    .edit-area {
      width: 100%;
      // border: 1px solid black;
      display: flex;
      flex-direction: column;
      align-items: center;
      .label-edit-shorcut {
        // border: 1px solid black;
        color: white;
        font-size: 11px;
        width: 90%;
        margin: 0;
        margin-top: 15px;
        font-weight: 700;
      }

      .input-edit {
        // border:  1px solid brown;
        background-color: #1d1d1f;
        height: 40px;
        width: 90%;
        border: none;
        border-radius: 4px;
        color: white;
        padding-left: 10px;
        font-size: 14px;
      }
    }

    .button-area {
      // border: 1px solid black;
      width: 100%;
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 90%;

      .remove-container {
        flex-grow: 1;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

      .edit-container {
        flex-grow: 2;
        // border: 1px solid black;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        .done-button {
          margin-left: 10px;
        }
      }

      .button-edit-shortcut {
        border: 1px solid rgb(99, 90, 90);
        padding-left: 15px;
        padding-right: 15px;
        height: 35px;
        border-radius: 3px;
        background: none;
        color: rgb(127, 144, 170);
        font-size: 14px;
        font-weight: 600;

        &:hover {
          background-color: #7f90aa42;
          border-color: rgb(120, 151, 197);
        }

        &.disabled-remove {
          color: rgb(99, 90, 90);
          background-color: rgba(0, 0, 0, 0);
          border: 1px solid rgb(99, 90, 90);
        }
        &.disabled-done {
          background-color: #6661619c;
          border: none;
          color: rgb(143, 143, 143);
          cursor: default;
        }
      }
    }
  }
}
